<div class="container">
    <div class="card">
      <h2>Login</h2>
      <form>
        <input type="text" [(ngModel)]="loggedUserData['username']" id="username" name="username" placeholder="Username" required>
        <input type="password" [(ngModel)]="loggedUserData['password']" id="password" name="password" placeholder="Password" required>
        <button style ="margin-bottom: 10px;" (click)="userLogin()" type="submit">Login</button>
        <button (click)="navigateToRegisterPage()" type="submit">Register</button>
      </form>
    </div>
  </div>