
<mat-toolbar *ngIf="isLoggedUser">
    <button mat-icon-button class="" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>
    <span>Blood Donation App</span>
    <span class="example-spacer"></span>
    <!-- <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
      <mat-icon>favorite</mat-icon>
    </button> -->
    <div>
      <button (click)="addButtonOnClick()" mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
        <!-- <mat-icon>Add</mat-icon> -->Add
      </button>
      <button (click)="Logout()" mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
        <!-- <mat-icon>Add</mat-icon> -->Logout
      </button>
    </div>
    
  </mat-toolbar>
<router-outlet></router-outlet>
